*.DS_Store
/.idea/*
/src/*
!/src/sample.json
/resources/*
!/resources/sample.wav
!/src/file.py
!/src/streaming.py
!/src/dictionary.py
!/resources/sample_dict.tsv
!/src/clean_response.py
!/src/streaming_mic.py
/log/*
